<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
      <mat-grid-tile-header>
          <h1 class="mat-display-2">Let's speak in English!</h1>
      </mat-grid-tile-header>
      <mat-grid-tile-footer>
          <h2 class="mat-body mat-body-1">How old are you?</h2>
          <button mat-raised-button color="accent">Generate</button>
      </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </form>
  </mat-grid-tile>
</mat-grid-list>