<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="mat-display-2">Let's speak in English!</h1>
        <h2 class="mat-body mat-body-1">How old are you?</h2>
        <button mat-raised-button color="accent">Generate</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
